.layout {
  display: flex; /* Use flexbox for side-by-side layout */
  flex-direction: row;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
    height: 100vh;
  background-color: dimgrey;
}
.navigation a.active {
    color:black;
    text-decoration: underline;
}
.link {
  text-decoration: none;
  color: white;
  padding: 0.5rem;

}
.link :hover {
    background-color: darkgrey;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.content {
  flex: 1; /* Content takes up remaining space */
  padding: 1rem;
  background-color: antiquewhite;
}